<main class="contenedor">
    <form method="POST" class="default-form">
        <div class="campo">
            <label>Nuevo Password</label>
            <input type="password" name="password" placeholder="Nuevo Password" required>
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Guardar password">
        </div>
    </form>
</main>