<main class="contenedor">
    <form action="/reestablecer-password" class="default-form" method="POST">
        <div class="campo">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Tu email">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Reestablecer password">
        </div>>
    </form>
</main>